// variables! Sass brings variables to CSS.
$primaryColor: #eeccff;
$firstValue: 62.5%;
$bg-color: #2c3e50;
$text-color: #ffffff;
$hover-color: #16a085;

body {
  background-color: $primaryColor;
  font-size: $firstValue;
}

nav {
  ul {
    background: $bg-color;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    color: $text-color;
  }
  a:hover {
    background: $hover-color;
  }
}

p {
  color: $primaryColor;
}

// Need to figure out how to make 'watch' work
